{# TODO 
  JEŚLI COKOLWIEK BĘDZIE ZMIENIANE W TYM MODULE, ZMERGOWAĆ GO Z EVENT FORM
#}

<section class="website-multi-step-form" id="multistep-form">
  <div class="website-multi-step-form__wrapper">
    <div class="website-multi-step-form__content">
      <h2 class="website-multi-step-form__heading">{{ module.heading }}</h2>
  
      {% if module.is_list %}
        <ul class="website-multi-step-form__elements">
          {% for element in module.elements %}
            <li class="website-multi-step-form__element">{{ element }}</li>
          {% endfor %}
        </ul>

        {% else %}

        <div class="website-multi-step-form__caption">
          {{ module.caption }}
        </div>
      {% endif %}
    </div>
  
    <div class="website-multi-step-form__form">
      {{ module.form_embed.embed_html }}
    </div>
  </div>

  <div class="website-multi-step-form__background"></div>
</section>