{# TODO 
  JEŚLI COKOLWIEK BĘDZIE ZMIENIANE W TYM MODULE, ZMERGOWAĆ GO Z EVENT FORM
#}

<section class="website-multi-step-form" id="multistep-form">
  <div class="website-multi-step-form__wrapper">
    <div class="website-multi-step-form__content">
    {% if !module.display_logo %}
      <h2 class="website-multi-step-form__heading">{{ module.heading }}</h2>
    {% endif %}
    
      {% if module.is_list %}
        <ul class="website-multi-step-form__elements">
          {% for element in module.elements %}
            <li class="website-multi-step-form__element">{{ element }}</li>
          {% endfor %}
        </ul>
        {% endif %}

      {% if !module.is_list and !module.display_logo %}
        <div class="website-multi-step-form__caption">
          {{ module.caption }}
        </div>
      {% endif %}

      {% if module.display_logo %}
        <img src="{{ module.logo.logo.src }}" alt="" class="website-multi-step-form__logo">

        <h2 class="website-multi-step-form__logo-heading">
          {{ module.logo.caption }}
        </h2>
      {% endif %}
    </div>
  
    <div class="website-multi-step-form__form">
      {{ module.form_embed.embed_html }}
    </div>
  </div>

  <div class="website-multi-step-form__background"></div>
</section>