.button {
  padding: 1.5rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(90deg, #AC0965 0%, #710442 100%);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem; /* Space between icon and text */

  &:hover {
    cursor: pointer;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0; /* Prevent icon from shrinking */
  }
  
  &--primary {
    &:hover {
      background: var(--color-brand);
      
      &::after {
        transform: translateX(5px); /* Adjust slide distance */
      }
    }
    
    &::after {
      content: ">";
      margin-left: 0.5rem; /* Space between text and arrow */
      transition: transform 0.3s ease;
      display: inline-block;
    }
  }

  &--secondary {
    padding: 1.2rem 3rem; /* Adjust padding to fit text */
    border: 2px solid var(--color-brand);
    background: white;
    color: var(--color-brand);
    transition: box-shadow 0.3s ease, color 0.3s ease;

    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(198, 198, 198, 1);
    }
  }
}