<!-- Outer Wrapper with Padding -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
  <tr>
    <td align="center" style="padding: 10px 20px;">
      
      <!-- Section 1 Box -->
      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #A20067;"> 
        <!-- Heading -->
        <tr>
          <td>
            <p style="font-size:12px; color: #ffffff; margin: 47px 0 0 42px;">
              {{ module.subheading }}
            </p>

            {# This way we impelemnt styled Rich Text #}
            {% set styled_heading = module.heading|replace('<p', '<p style="color: #ffffff; font-size: 42px; margin: 0 0 0 42px;"') %}
            {{ styled_heading|safe }}
          </td>

          <td valign="top" align="right">
            <img src="{{ module.top_image.src }}" alt="{{ module.top_image.alt }}" style="display: block; border: 0; max-width: 205px" />
          </td>
        </tr>

        <!-- Spacer -->
        <tr>
          <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
        </tr>

        <!-- Body -->
        <tr>
          <td colspan="2">
            {% set styled_caption = module.caption|replace('<p', '<p style="font-size:15px; color: #ffffff; margin: 0 42px;"') %}
            {{ styled_caption|safe }}
          </td>
        </tr>

        <!-- Spacer -->
        <tr>
          <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
        </tr>

        <tr>
          <td>
            <p style="margin-left: 42px;">
              <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/icon.png" alt="Calendar icon" style="display: block; border: 0;" />
            </p>
          </td>
        </tr>

        <!-- Spacer -->
        <tr>
          <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
        </tr>

        <!-- White Bar -->
        <tr>
          <td>
            <p style="margin-left: 42px;">
              <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/white-bar.png" alt="White line separator" style="display: block; border: 0; margin-bottom: 10px;" />
            </p>
          </td>
        </tr>

        <!-- Date and Time -->
        <tr>
          <td>
            <p style="font-size: 18px; color: #ffffff; margin: 0 42px 0 42px;">
              {{ module.day }}, {{ module.place }} <br> {{ module.adress }}
            </p>

            <p style="font-size: 24px; color: #ffffff; margin: 0 42px 10px 42px;">
              {{ module.date_and_time }}
            </p>
          </td>
        </tr>

        {% if !module.is_button_displayed %}
          <tr>
            <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
          </tr>
        {% endif %}

        {% if module.is_button_displayed %}
          <!-- White Bar -->
          <tr>
          <td>
            <p style="margin-left: 42px;">
              <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/white-bar.png" alt="White line separator" style="display: block; border: 0; margin-bottom: 10px;" />
            </p>
          </td>
        </tr>

        <!-- Spacer -->
        <tr>
          <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
        </tr>

        <!-- Button -->
        <tr>
          <td>
            <p style="margin-left: 42px; margin-bottom: 44px;">
              <a href="{{ module.sign_in_url }}">
                <img src="{{ module.button.src }}" alt="{{ module.button.alt }}" style="display: block; border: 0;" />
              </a>
            </p>
          </td>
        </tr>
        {% endif %}
      </table>

    </td>
  </tr>
</table>