<!-- Outer Wrapper Table with Padding -->
<table border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:  #ffffff;">
  <tr>
    <td align="center" style="padding-left: 20px; padding-right: 20px;">
      
      <!-- Existing Module Table -->
      <table align="center" role="presentation" border="0" cellpadding="0" cellspacing="0" style="background-color: #ffffff;">
        <tr>
          <td align="left" style="padding: 70px 0;">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/axians-logo.png" alt="Company Logo" style="display: block; border: 0;" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <!-- 1st Section Box -->
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="background-color: #A20067;"> 
              <!-- Heading -->
              <tr>
                <td>
                  <p style="font-size:12px; color: #ffffff; margin: 47px 0 0 42px;">
                    {{ module.section_1.subheading }}
                  </p>
      
                  <p style="color: #ffffff; font-size: 42px; margin: 0 0 0 42px;">
                    {{ module.section_1.heading }}
                  </p>
                </td>
      
                <td valign="top">
                  <img src="{{ module.section_1.top_image.src }}" alt="{{ module.section_1.top_image.alt }}" style="display: block; border: 0;" />
                </td>
              </tr>
      
              <!-- Spacer -->
              <tr>
                <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
              </tr>
      
              <!-- Body -->
              <tr>
                <td colspan="2">
                  <p style="font-size:15px; color: #ffffff; margin: 0 42px;">
                    {{ module.section_1.caption }}
                  </p>
                </td>
              </tr>
      
              <!-- Spacer -->
              <tr>
                <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
              </tr>
      
              <tr>
                <td>
                  <p style="margin-left: 42px;">
                    <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/icon.png" alt="Calencar icon" style="display: block; border: 0;" />
                  </p>
                </td>
              </tr>
      
              <!-- Spacer -->
              <tr>
                <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
              </tr>
      
              <!-- White Bar -->
              <tr>
                <td>
                  <p style="margin-left: 42px;">
                    <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/white-bar.png" alt="White line separator" style="display: block; border: 0; margin-bottom: 10px;" />
                  </p>
                </td>
              </tr>
      
              <!-- Date and Time -->
              <tr>
                <td>
                  <p style="font-size: 18px; color: #ffffff; margin: 0 42px 0 42px;">
                    {{ module.section_1.day }}, {{ module.section_1.place }} <br> {{ module.section_1.adress }}
                  </p>
      
                  <p style="font-size: 24px; color: #ffffff; margin: 0 42px 10px 42px;">
                    {{ module.section_1.date_and_time }}
                  </p>
                </td>
              </tr>
      
              <!-- White Bar -->
              <tr>
                <td>
                  <p style="margin-left: 42px;">
                    <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/white-bar.png" alt="White line separator" style="display: block; border: 0; margin-bottom: 10px;" />
                  </p>
                </td>
              </tr>
      
              <!-- Spacer -->
              <tr>
                <td colspan="2" height="20" style="font-size: 0; line-height: 0; background-color: #A20067;"></td>
              </tr>
      
              <!-- Button -->
              <tr>
                <td>
                  <p style="margin-left: 42px; margin-bottom: 44px;>
                    <a href="{{ module.section_1.sign_in_url }}">
                      <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/button-1.jpg" alt="Zapisz się button" style="display: block; border: 0;" />
                    </a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <!-- Separator -->
        <tr>
          <td>
            <table height="25" style="background-color: #ffffff;"></table>
          </td>
        </tr>
      
        <!-- 2nd Section Box -->
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="background-color: #005EB8;">
              <tr>
                <td>
                  <img src="{{ module.section_2.left_image.src }}" alt="{{ module.section_2.left_image.alt }}" style="display: block; border: 0;" />
                </td>
      
                <!-- Content -->
                <td>
                  <p style="font-size:42px; color: #ffffff; margin: 0 0 0 10px;">
                    {{ module.section_2.heading }}
                  </p>
      
                  <ul style="list-style-type: disc; color: #ffffff; padding-left: 10px; margin: 10px 15px 0 10px;">
                    {% for bulletpoint in module.section_2.bulletpoints %}
                      <li style="margin-left: 10px;">
                        <p style="font-size: 15px; color: #ffffff; margin: 0;">
                          {{ bulletpoint }}
                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <!-- Separator -->
        <tr>
          <td>
            <table height="25" style="background-color: #ffffff;" ></table>
          </td>
        </tr>
      
        <!-- 3rd Section Box -->
        <tr>
          <td align="left" style="background-color: #F5F5F5;">
            <table border="0" cellpadding="0" cellspacing="0">
              <!-- Heading -->
              <tr>
                <td>
                  <p style="color: #AE207A; font-size: 42px; margin: 20px 24px 15px 24px;">
                    {{ module.section_3.heading }}
                  </p>
                </td>
              </tr>
      
              <!-- Speakers -->
              {% for speaker in module.section_3.speakers %}
                <tr>
                  <td>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="padding-left: 24px; padding-bottom: 20px;">
                          <img src="{{ speaker.avatar.src }}" alt="{{ speaker.avatar.alt }}" style="display: block; border: 0;" />
                        </td>
                        <td style="padding-left: 35px;">
                          <p style="color: #A20067; font-size: 24px; margin: 0 0 10px 0;">{{ speaker.name_and_surname }}</p>
                          <p style="color: #005EB8; font-size: 15px; margin: 0;">
                            {{ speaker.position }} <br> {{ speaker.company }}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      
        <!-- Separator -->
        <tr>
          <td height="80" style="background-color: #ffffff; font-size: 0; line-height: 0;">
            &nbsp;
          </td>
        </tr>
      
        <!-- 4th Section Box -->
        <tr>
          <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td style="padding-bottom: 20px;">
                  <p style="color: #A20067; font-size: 42px; margin: 0 24px 20px 24px;">
                    {{ module.section_4.heading }}
                  </p>
                  
                  <ul style="list-style-type: disc; padding-left: 24px;">
                    {% for bulletpoint in module.section_4.bulletpoints %}
                      <li style="margin-left: 0;">
                        <p style="font-size: 15px; margin: 0 0 0 0;">
                          {{ bulletpoint }}
                        </p>
                      </li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <!-- Separator -->
        <tr>
          <td height="55" style="background-color: #ffffff; font-size: 0; line-height: 0;">
            &nbsp;
          </td>
        </tr>
      
        <!-- 5th Section Box -->
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0" style="background-color: #F5F5F5;">
              <tr>
                <td valign="bottom" style="padding: 0;">
                  <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/image-left.png" alt="Left Image" style="display: block; border: 0; margin-top: 90px;" />
                </td>
      
                <td align="center">
                  <p style="color: #A20067; font-size: 42px; text-align: center; margin: 0 0 30px 0;">
                    {{ module.section_5.heading }}
                  </p>
      
                  <!-- Button -->
                  <a href="{{ module.section_5.button_url }}">
                    <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/button-2.png" alt="Zapisz się button" style="display: block; border: 0; margin-bottom: 35px;" />
                  </a>
      
                  <p style="font-size: 15px; text-align: center; margin: 0;">
                    {{ module.section_5.caption }}
                  </p>
                </td>
      
                <td>
                  <img src="https://143724670.fs1.hubspotusercontent-eu1.net/hubfs/143724670/verseo-newsletter/image-right.png" alt="Right Image" style="display: block; border: 0;" />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <!-- Spacer -->
        <tr>
          <td height="20" style="font-size: 0; line-height: 0;">
            &nbsp;
          </td>
        </tr>
      
        <!-- Last Paragraph -->
        <tr>
          <td align="center">
            <table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <p style="text-align: center; color: #6D6D6D; font-size: 12px; margin-bottom: 90px;">
                    {{ module.bottom_caption }}
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- End of Existing Module Table -->
      
    </td>
  </tr>
</table>
<!-- End of Outer Wrapper Table -->