<section class="website-extended-divider">
  <div class="website-extended-divider__wrapper">
    <h2 class="website-extended-divider__heading">
      {{ module.heading }}
    </h2>

    {% if module.type.chart %}
      <div class="website-extended-divider__chart">
        {% for row in  module.chart_rows %}
          <div class="website-extended-divider__row">
            <p class="website-extended-divider__row-content">{{ row.row_value }}% {{ row.topic }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <img src="https://it.axians-it.pl/hubfs/verseo-newsletter/Website%20extended%20divider/kksztalt1.png" alt="visual element 1" class="website-extended-divider__element1" />
  <img src="https://it.axians-it.pl/hubfs/verseo-newsletter/Website%20extended%20divider/ksztal2.png" alt="visual element 2" class="website-extended-divider__element2" />
</section>