.website-extended-divider {
  display: grid;
  margin-bottom: 10rem;
  position: relative;
  background-color: var(--color-blue);
  overflow: hidden; 

  @media (min-width: 2150px) {
    background: linear-gradient(83deg,#045cb6 4.35%,#092755 97.23%);
  }

  @media (min-width: 500px) {
    height: 40.7rem;
  }


  @media (max-width: 500px) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__wrapper {
    margin: 0 auto;
    z-index: 10;
    width: 100%;
    max-width: 110rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 500px) {
      padding-left: 3rem;
      padding-right: 3rem;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
 
  &__heading {
    color: white;

    @media (min-width: 1024px) {
      max-width: 30rem;
    }

    @media (max-width: 500px) {
      margin-bottom: 5rem;
    }
  }

  &__chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  &__row {
    width: var(--row-width);
    background-color: white;
    color: #000349;
    padding: 1rem 2.5rem;

    @media (max-width: 1024px) {
      width: calc(var(--row-width) + 20%);
      max-width: 100%;
    }

    &-content {
      font-size: 2rem;
      display: flex;
      align-items: center;

      span {
        font-size: 2.6rem;
        margin-right: 1rem;
      }
    }
  }

  &__element1, 
  &__element2 {
    pointer-events: none;

    @media (min-width: 2150px) {
      display: none;
    }
  }

  &__element1 {
    position: absolute;
    top: 0;
    z-index: 9;

    
    @media (max-width: 1919px) {
      left: -13rem;
    }

    @media (max-width: 1600px) {
      left: -33rem;
    }

    @media (max-width: 1350px) {
      left: -42rem;
    }

    @media (max-width: 1024px) {
      left: -54rem;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__element2 {
    position: absolute;
    top: 0;
    left: 96rem;
    z-index: 9;

    @media (max-width: 1919px) {
      left: 86rem;
    }

    @media (max-width: 1600px) {
      left: 65rem;
    }

    @media (max-width: 1350px) {
      left: 57rem;
    }

    @media (max-width: 1024px) {
      left: 43rem;
    }

    @media (min-width: 1920px) {
      left: 96rem;
    }
    
    @media (max-width: 500px) {
      display: none;
    }
  }
}