.website-extended-divider {
  display: grid;
  place-content: center;
  margin-bottom: 10rem;
  position: relative;
  height: 40.7rem;
  background-color: var(--color-blue);
  overflow: hidden;

  &__wrapper {
    z-index: 10;
    width: 100%;
    max-width: 110rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 15rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 500px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__heading {
    color: white;
  }

  &__chart {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  
  &__row {
    width: var(--row-width);
    background-color: white;
    color: #000349;
    padding: 1.5rem 2.5rem;

    &-content {
      font-size: 2rem;
      display: flex;
      align-items: center;

      span {
        font-size: 2.6rem;
        margin-right: 1rem;
      }
    }
  }

  &__element1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;

    
    @media (max-width: 1919px) {
      left: -10rem;
    }

    @media (max-width: 1350px) {
      left: -42rem;
    }

    @media (max-width: 1024px) {
      left: -54rem;
    }
  }

  &__element2 {
    position: absolute;
    top: 0;
    left: 96rem;
    z-index: 9;

    @media (max-width: 1919px) {
      left: 86rem;
    }

    @media (max-width: 1350px) {
      left: 57rem;
    }

    @media (max-width: 1024px) {
      left: 43rem;
    }

    @media (min-width: 1920px) {
      left: 96rem;
    }
  }
}