.cta {
  color: white;
  margin-bottom: 10rem;
  background: #092552; // fallback
  background: linear-gradient(270deg, #092552 0%, #114A86 62.5%);
  
  .wrapper {
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 110rem;
    padding-left: 0;
    padding-right: 0;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 850px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__heading {
    font-weight: normal;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__caption {
    font-weight: 200;
    color: white;
    margin-bottom: 3rem;

    p, ul, li {
      font-size: 1.8rem;
      line-height: 120%;
    }

    ul {
      margin-left: 2rem;
    }

    li {
      list-style-type: none;
      position: relative;

      &:before {
        content: "•";
        font-size: 8rem;
        position: absolute;
        left: -2rem;
        top: -0.5rem;
        color: white;
      }
    }
  }

  &__button {
    color: white;
    text-decoration: none;
    background-color: #B53385;
    padding: 15px 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #9a2c72;
      color: #f0f0f0;
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}