.website-text-and-image {
  display: grid;
  place-content: center;
  margin-bottom: 10rem;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 6rem;
    max-width: 110rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 850px) {
      grid-template-columns: 1fr;
      justify-items: center;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__image {
    max-width: 58rem;

    img {
      width: 100%;
    }
  }

  &__heading {
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    @media (max-width: 850px) {
      text-align: center;
    }
  }

  &__caption {
    color: --color-paragraph;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 850px) {
      text-align: center;
    }
  }
}