<section class="blog-feed-slider">
  <div class="blog-feed-slider__header">
      <h2 class="blog-feed-slider__heading">
        {{ module.heading }}
      </h2>

      <a href="https://www.axians.pl/blog" class="blog-feed-slider__link">→ Odwiedź naszego bloga</a>
  </div>

  {% if module.posts|length > 1 %}
    <div class="blog-feed-slider__navigation">
      <div class="blog-feed-slider__navigation-progress">
        <div class="progress-bar">
          <p data-progress-bar-current>01</p>
          <div class="progress-bar__bar">
            <div class="progress-bar__line-bg"></div>
            <div class="progress-bar__line-filled"></div>
            <img src="https://it.axians-it.pl/hubfs/landing-pages-assets/dot.svg" alt="dot" class="progress-bar__dot">
          </div>
          <p data-progress-bar-all>01</p>
        </div>
      </div>

      <div class="blog-feed-slider__controls">
        <button class="blog-feed-slider__prev" data-testimonials-prev>
          <img src="https://it.axians-it.pl/hubfs/landing-pages-assets/arrow-left.svg" alt="">
        </button>
        
        <button class="blog-feed-slider__next" data-testimonials-next>
          <img src="https://it.axians-it.pl/hubfs/landing-pages-assets/ARROW-right.svg" alt="">
        </button>
      </div>
    </div>
  {% endif %}

  <div class="blog-feed-slider__wrapper">
    <div class="blog-feed-slider__inner">
      {% for post in module.posts %}
        <article class="post">
          <img src="{{ post.image.src }}" alt="{{ post.image.alt }}" style="display: block; border: 0;"/>
          <p class="post__date">{{ post.date }}</p>
          <h4 class="post__heading">{{ post.heading }}</h4>
          <a href="{{ post.url.href }}">→ Dowiedz się więcej</a>
        </article>
      {% endfor %}
    </div>
  </div>
</section>