.blog-feed-slider {
  display: grid;
  place-content: center;
  background-color: var(--color-gray);
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  padding-top: 5rem;

  &__header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
      overflow: hidden; /* This acts as the viewport now */
      flex-wrap: wrap;
    }

    @media (max-width: 850px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media (min-width: 1024px) {
      gap: 10rem;
    }
  }

  &__link {
    color: var(--color-brand);
    text-decoration: none;
  }

  &__wrapper {
    max-width: 110rem;
    padding-top: 7rem;
    position: relative;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
      overflow: hidden; /* This acts as the viewport now */
    }

    @media (max-width: 850px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    @media (max-width: 767px) {
      padding-top: 6rem;
      padding-bottom: 5rem;
    }
  }

  &__inner {
    display: flex;
    gap: 6rem;
    transition: transform 0.4s ease-in-out; /* For sliding the track */

    @media (max-width: 767px) {
      gap: 2rem;
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    @media (max-width: 767px) {
      gap: 2rem;
    }
  }

  &__controls {
    button {
      border: none;
      background: none;
      font-size: 3rem;
      color: #656565;

      &:hover {
        background-color: beige;
      }

      img {
        height: 2rem;
      }
    }

  }

  .post {
    flex: 0 0 100%; /* Each testimonial occupies full width of the viewport */
    scroll-snap-align: start;
    max-width: 26rem;

    img {
      margin-bottom: 1rem;
    }

    &__date {
      font-size: 1.5rem;
      color: #ADADAD;
    }

    &__heading {
      font-weight: bold;
      font-size: 1.7rem;
    }

    a {
      color: var(--color-brand);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}