.website-shifted-tiles {
  background-color: var(--color-gray);
  display: grid;
  place-content: center;
  margin-bottom: 5rem;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (max-width: 1024px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (max-width: 500px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__wrapper {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns for desktop */
    gap: 6rem;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr; /* Two columns for tablet */
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr; /* One column for mobile */
      gap: 2rem;
    }
  }

  &__info {
    display: grid;
    place-content: center;

    @media (max-width: 1024px) {
      position: sticky;
      top: 15rem; /* Adjust as needed to avoid overlap with headers */
      align-self: start; /* Ensures it stays at the top */
    }

    @media (max-width: 768px) {
      margin-bottom: 3rem;
      position: static; /* Reverts sticky behavior for mobile */
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--color-brand);

    &:hover {
      text-decoration: underline;
    }
  }

  &__tiles {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for desktop */

    @media (max-width: 1024px) {
      grid-template-columns: 1fr; /* One column for tablet and mobile */
    }

    gap: 2rem;
    padding-bottom: 6rem; /* Add extra padding to account for the shifted effect */

    /* Shift the second column on desktop */
    .shifted-tile:nth-child(2n) {
      transform: translateY(6rem);

      @media (max-width: 1024px) {
        transform: none; /* Reset for tablet and mobile */
      }
    }
  }
}

.shifted-tile {
  width: 100%; /* Adjusted for responsiveness */
  background-color: white;
  border: 2px solid var(--color-brand);
  padding: 3rem 2rem;
  box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.14);

  &__heading {
    color: var(--color-brand);
    font-weight: bold;
  }

  &__info {
    color: var(--color-brand);
    margin-bottom: 2.4rem;
  }
}