.event-logo-wall {
  display: grid;
  place-content: center;
  margin-bottom: 10rem;

  @media (max-width: 1100px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (max-width: 500px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__wrapper {
    width: 100%;
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @media (max-width: 850px) {
      grid-template-columns: 1fr;
      place-content: center;
    }

    @media (min-width: 1100px) {
      min-width: 110rem;
    }
  }

  &__heading {
    @media (max-width: 850px) {
      text-align: center;
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 850px) {
      justify-content: center;
    }
  }

  &__logo {
    max-width: 15rem;
  }
}