.website-bottom {
  display: grid;
  place-content: center;

  @media (max-width: 768px) {
   justify-content: left;
  }  

  @media (max-width: 1024px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (max-width: 850px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__wrapper {
    max-width: 130rem;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    @media (min-width: 1300px) {
      min-width: 120rem;
    }
  }

  &__menu {
    display: flex;
    margin: 0;
    padding: 0;

    @media (min-width: 769px) {
      align-items: center;
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
    
    &-element {
      list-style-type: none;
      margin: 0;
      padding-left: 1rem;

      &:first-child {
        padding-left: 0rem;
      }

      &:not(:last-child) {
        @media (min-width: 768px) {
          border-right: 1px solid var(--color-blue);
          padding-right: 1rem;
        }
      }
      
      a {
        text-decoration: none;
        color: var(--color-blue);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__logo {
    max-height: 5rem;
  }
}