.website-fancy-steps {
  display: grid;
  place-content: center;

  &__wrapper {
    max-width: 110rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 850px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__steps {
    list-style-type: none;
  }

  .step {
    .step-box {
      max-width: 26rem;
      border: 1.5px solid var(--color-brand);
      border-radius: 8px;
      position: relative;

      &__number {
        position: absolute;
        top: -5rem;
        display: grid;
        place-content: center;
        font-size: 6rem;
        color: var(--color-brand-light);
        border: 1.5px solid var(--color-brand);
        border-radius: 8px;
      }
    }
  }
}