.blog-feed {
  display: grid;
  place-content: center;
  background: var(--color-gray);
  margin-bottom: 10rem;

  &__wrapper {
    max-width: 110rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @media (max-width: 1024px) {
      padding-left: 5rem;
      padding-right: 5rem;
    }
  
    @media (max-width: 850px) {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__heading {
    text-align: center;
    max-width: 72rem;
  }

  .button {
    max-width: fit-content;
  }

  &__listing {
    list-style-type: none;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 850px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    &-element {
      max-width: 25rem;
      margin: 0;

      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &:hover {
          .blog-feed__listing-element-info p {
            color: var(--color-paragraph);
          }
          
          .blog-feed__listing-element-info h5 {
            color: var(--color-brand);
          }
        }
      }

      &-info {      
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
          color: #C8C8C8;
          font-size: 1.8rem;
          font-weight: 400;
          text-decoration: none;
          transition: color .2s;
        }

        h5 {
          font-weight: 500;
          color: #A3A3A3;
          font-size: 1.8rem;
          text-decoration: none;
          transition: color .2s;
        }
      }
    }
  }
}