<section class="event-agenda">
  <h2>
    {{ module.heading }}
  </h2>

  <div class="event-agenda__wrapper {{ module.days.two_rooms ? 'event-agenda__wrapper--wide' : '' }}">
    {% for day in module.days %}
      <div class="event-agenda__day">
        <h3>{{ day.date }}</h3>

        <div class="event-agenda__event-listing {{ day.two_rooms ? 'event-agenda__event-listing--two-columns' : '' }}">
          {% if day.two_rooms %}
            <h4>{{ day.first_room.room_name }}</h4>
          {% endif %}
          
          <div class="event-agenda__event-list">
            {% for time_span in day.first_room.time_spans %}
              <div class="agenda-item">
                <div class="agenda-item__time-and-name">
                  <h5>{{ time_span.time }}</h5>
                  <p>{{ time_span.event_name }}</p>
                </div>

                <ul class="agenda-item__event-points">
                  {% for event_point in time_span.event_points %}
                    <li class="agenda-item__event-point">
                      {{ event_point }}
                    </li>
                  {% endfor %}
                </ul>
              </div>        
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>