.website-hero-2 {
  display: grid;
  place-content: center;
  margin-bottom: 10rem;
  position: relative;

  @media (max-width: 1024px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media (max-width: 500px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__wrapper {
    max-width: 110rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__main {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media(max-width: 768px) {
      margin-top: 15rem;
    }

    .button {
      max-width: fit-content;
    }
  }

  &__heading {
    line-height: normal;
    font-size: 4.5rem;
    color: var(--color-blue);
    margin: 0;
  }

  &__image {
    position: absolute;
    top: -70%;
    right: 0;
    width: 48%;

    @media(max-width: 768px) {
      top: -20%;
      width: 60%;
    }

    @media(min-width: 769px) and (max-width: 1200px) {
      top: -20%;
    }

    @media (min-width: 1500px) {
      top: -90%;
      width: 45%;
    }
  }
}