.event-invitation {
  position: relative;
  display: grid;
  place-content: center;
  margin-bottom: 10rem;

  &__background {
    position: absolute;
    top: 0;
    max-height: 40rem;
    width: 100%;
    z-index: 0;
  }

  &__main {
    max-width: 100rem;
    z-index: 10;
    background-color: white;
    margin-top: 24rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 5rem;
    padding: 5rem 5rem 5rem 10rem;

    @media (max-width: 900px) {
      margin-left: 5rem;
      margin-right: 5rem;
      margin-top: 10rem;
      grid-template-columns: 1fr;
      row-gap: 3rem;
      padding: 5rem;
    }

    @media (max-width: 500px) {
      margin-left: 3rem;
      margin-right: 3rem;
      margin-top: 5rem;
      padding: 3rem;
    }
  }

  &__heading {
    p {
      color: var(--color-brand);
      font-weight: 800;
      font-size: 1.2rem;
    }

    h1 {
      color: var(--color-blue);
      font-size: 4rem;
      line-height: 1.2;
    }
  }

  &__caption {
    font-size: 2rem;
  }

  &__time-place {
    grid-column: 2;

    @media (max-width: 900px) {
      grid-column: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
    }

    .icon-box {
      &:first-child {
        padding: 2rem 3rem 0rem 3rem;

        @media (max-width: 900px) {
          padding: 0;
        }

        & .icon-box__content {
          border-bottom: 2px solid var(--color-blue);
          padding-bottom: 2rem;

          @media (max-width: 900px) {
            border-bottom: none;
            padding: 0;
          }
        }
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }
}

// If refactoring then move it to components folder
.icon-box {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 3rem;

  @media (max-width: 900px) {
    padding: 0;
  }

  &__content {
    width: 100%;

    p {
      font-size: 2.2rem;
      font-weight: bold;
    }
  }
}